<a href="https://colab.research.google.com/github/Leeseuongmin/1109coding/blob/main/CTBC_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택, 다방향 선택 구조 코딩
 - 배송료 처리 3가지로 코딩
 - 변수: price
 - 조건: 10만원 이상 배송비 0, 2만원 이상은 3천원, 2만원 이하는 5천원

In [ ]:
price = int(input("구입금액 입력: "))         # 변수 price 사용자가 정수형 금액입력
if price >= 100000:                           # price의 값이 10만원보다 크거나 같으면
  shipping_cost = 0                           # 선택1. 배송료(shipping_cost)는 0원
else:                                         # 그게 아니면
  if price >= 20000:                          # 선택2. price값이 2만원보다 크거나 같으면
    shipping_cost = 3000                      # 배송료(shipping_cost)는 3000원
  else:                                       # 그것도 아니면
    shipping_cost = 5000                      # 선택3. 배송료(shipping_cost)는 5000원
print(f'배송료는 {shipping_cost}원 입니다.')  # F-String문자 Format으로 최종 배송료출력

2. 반복구조를 이용한 "환영합니다."를 5번 출력하는 코드작성
 - 변수 : Welcome
 - 출력내용 : 환영합니다.를 세로로 5번, 10번, 30번

In [ ]:
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [ ]:
print("환영합니다.\n" * 5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
count = 1
while count <= 5:
  print("(", count, ")", "환영합니다.")
  count = count + 1

( 1 ) 환영합니다.
( 2 ) 환영합니다.
( 3 ) 환영합니다.
( 4 ) 환영합니다.
( 5 ) 환영합니다.

3. 0부터 9까지 출력하는 코드작성
 - 변수 X

In [ ]:
x = 0
while x < 10:
  #print(x)
  print(x, end=' ')
  x = x + 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
x = 0
while x <= 9:
  print(x, end=' ')
  x += 1

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 합산하는 코드작성

In [ ]:
 x = 1
total = 0
while x <= 10:
  total += x
  #total = total + 1
  #x = x + 1
  x += 1
print(total)

55

In [ ]:
X = 1
while x <= 10:
  print(x, end=' ')

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)

In [ ]:
for num in range(1, 21):
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20

In [ ]:
num = 1
while num <= 20:
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')
  num += 1

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20

6. 팩토리를 계산하는 코드 작성
 - 1! = 1,2!= 2(1)3!=(2)(1)=6

In [25]:
i = 5
factorial = 1
while i >= 1:
    factorial *= i
    i -= 1
print(factorial)

120

In [26]:
# 계산할 숫자를 입력합니다
num = int(input("팩토리얼를 계산할 숫자를 입략하시오.: "))

# 초기값으로 1을 설정합니다
factorial = 1

# 팩토리얼 계산을 위한 빈복문인 while 입니다.
while  num >= 1:                 # num값이 1보다 크거나 같을 때 하위 문장(코드)를 진행
    factorial = factorial * num  # 현재 num값을 factorial값에 곱해줍니다
    num -= 1                     # num값을 1씩 감소시킵니다

print(f'계산 팩터리의 값은 {factorial} 입니다.')

팩토리얼를 계산할 숫자를 입략하시오.: 5
계산 팩터리의 값은 120 입니다.

7. 구구단 출력해주는 코드 작성
 - 변수: dan
 - 반복문(1):for
 - 반복분(2): while

In [9]:
# for문 상용
dan = int(input("구구단에서 몇단을 출력할까요: "))
for i in range(1,9):
      print(dan, "x", i, "=", dan *1)

구구단에서 몇단을 출력할까요: 3
3 x 1 = 3
3 x 2 = 3
3 x 3 = 3
3 x 4 = 3
3 x 5 = 3
3 x 6 = 3
3 x 7 = 3
3 x 8 = 3

In [8]:
# while문 사용
dan = int(input("구구단을 몇단을 출력할래?: "))
i = 1
while i <= 9:
    print(dan, "x", i, "=", dan * i)
    i += 1

구구단을 몇단을 출력할래?: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18